*{
    margin:0;
    padding: 0%;
}
.menu{
    display: flex;
    background-color: white;

}
.leftcontent{
    display: flex;
    padding: 20px;
    word-spacing: 10px;
    padding-right: 100px;
    align-items: center;
}

.logo{
    width: 478px;
    height: 230px;
    align-items: center;
}
.button{
    background-color: red;
}
h1 {
    color: red;
}
.concurrenttext{
    color: black;
}

.initial button{
    background-color: red;
    color: white;
}
.trialone{
    display: flex;
    padding-top: 100px;
    font-size: 30px;
}
.initialbutton{
    background-color: red;
    color: white;
}
.concurrentbutton{
    border: crimson;
}
.ofactionbtn{
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: red;
}
.loginbtn{
    background-color: grey;
}

.hero-image img{ 
    height: 500px;
    width: 500px;
}
.navbar{
    background-color: white;
    padding-right: 100px;
    display: flex;
}
.rightcontent{
    text-align: right;
    padding-top: 20px;
}
.loginbtn{
    background-color: grey;
    text-align: right;
}
.prog{
    padding: 20px;
    font-size: 40px;
}
.financingplans{
    padding: 20px;
}
.resources{
    padding: 20px;
}
.more{
    padding: 20px;
}